<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Md5 onLine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Md5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C612686A1BCCF11F00C6D9C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61268861BCCF11F00C6D9C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61268911BCCF11F00C6D9C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6A985BB1BDCB7B500D18052</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
